<%= render 'authors/header' %>
<div> authors page! </div>
<% @authors.each do |a| %>
  <ol>
    <li><%= a.name %> <%= link_to 'New Book', new_author_book_path(a) %></li>
    <li><% a.books.each do |b| %>
    <%= link_to b.title, author_book_path(a, b)%>
    <% end %>
    </li>
  </ol>
<% end %>
<%= @sql %>

